<h4>Trigger</h4>
<h5>Trigger Event</h5>

<p>The dropdown menu can open on either a click or hover.</p>
<supre-dropdown-menu trigger="click" [align]="['bottom-right']">
  <button supre-dropdown-menu-button class="-dialog">trigger="click"</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>
<supre-dropdown-menu trigger="hover" [align]="['bottom-right']">
  <button supre-dropdown-menu-button class="-dialog">trigger="hover"</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>
<hr>
<h5>Trigger Element</h5>
<p>The triggering element can be anything.  To specify the triggering element add the attribute "supre-dropdown-menu-button" to the appropriate child.</p>
<supre-dropdown-menu trigger="hover" [align]="['bottom-right']">
  <button supre-dropdown-menu-button class="-dialog">Button</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>
<supre-dropdown-menu trigger="hover" [align]="['bottom-right']">
  <span supre-dropdown-menu-button style="font-size:12px;color:red;">Anything</span>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>
<hr>
<h4>Alignment</h4>
<h5>Align Attribute</h5>
<p>Use the align attribute to place the dropdown at any side of the triggering button.</p>
<supre-dropdown-menu trigger="hover" [align]="['top-right']">
  <button supre-dropdown-menu-button class="-dialog">top-right</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>
<supre-dropdown-menu trigger="hover" [align]="['top-middle']">
  <button supre-dropdown-menu-button class="-dialog">top-middle</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>
<supre-dropdown-menu trigger="hover" [align]="['top-left']">
  <button supre-dropdown-menu-button class="-dialog">top-left</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>

<supre-dropdown-menu trigger="hover" [align]="['bottom-right']">
  <button supre-dropdown-menu-button class="-dialog">bottom-right</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>
<supre-dropdown-menu trigger="hover" [align]="['bottom-middle']">
  <button supre-dropdown-menu-button class="-dialog">bottom-middle</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>
<supre-dropdown-menu trigger="hover" [align]="['bottom-left']">
  <button supre-dropdown-menu-button class="-dialog">bottom-left</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>


<supre-dropdown-menu trigger="hover" [align]="['right-bottom']">
  <button supre-dropdown-menu-button class="-dialog">right-bottom</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>
<supre-dropdown-menu trigger="hover" [align]="['right-middle']">
  <button supre-dropdown-menu-button class="-dialog">right-middle</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>
<supre-dropdown-menu trigger="hover" [align]="['right-top']">
  <button supre-dropdown-menu-button class="-dialog">right-top</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>

<supre-dropdown-menu trigger="hover" [align]="['left-top']">
  <button supre-dropdown-menu-button class="-dialog">left-top</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>
<supre-dropdown-menu trigger="hover" [align]="['left-middle']">
  <button supre-dropdown-menu-button class="-dialog">left-middle</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>
<supre-dropdown-menu trigger="hover" [align]="['left-bottom']">
  <button supre-dropdown-menu-button class="-dialog">left-bottom</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>

<h5>Alignment Preferrences</h5>
<p>The "align" property accepts an array of positions.  Each supplied position will be tried in sequence until the dropdown fits on-screen.
  If the dropdown does not fit onscreen for any of the specified positions it will be placed at the first specified position.
</p>
<supre-dropdown-menu trigger="hover" [align]="['bottom-right','top-right']">
  <button supre-dropdown-menu-button class="-dialog">bottom-right, top-right</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>
<hr>
<h4>Content</h4>
<p>The dropdown menu has built-in support for menu items and headers, but can accept any content.</p>

<supre-dropdown-menu trigger="hover" [align]="['bottom-right', 'top-right']">
  <button supre-dropdown-menu-button class="-dialog">Menu Items</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>
<supre-dropdown-menu trigger="hover" [align]="['top-right']">
  <button supre-dropdown-menu-button class="-dialog">With Header</button>
  <div class="header">Header</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>
<supre-dropdown-menu trigger="hover" [align]="['top-right']">
  <button supre-dropdown-menu-button class="-dialog">Custom Content</button>
  <div style="padding:5px;">
    <div style="font-weight:bold;font-size:11px;">Custom Content</div>
    <button class="-action">Custom</button></div>
</supre-dropdown-menu>
<hr>
<h4>Close Event</h4>
<p>You can control how events trigger on child menu items close the dropdown itself.
Use the "supre-dropdown-menu-close" attribute to specify which type of event should close the dropdown.  This can be applied to any element in the DOM hierarchy between the child and the parent dropdown.  It will control how events on children at or below that level in the DOM close the dropdown.  This gives flexibility to specify different events for different children.
Supported values include:</p>
<ul>
  <li>click: close the dropdown when a child is clicked</li>
  <li>change: close the dropdown when a child is changed</li>
  <li>none: do not close the dropdown on child interaction</li>
</ul>

<supre-dropdown-menu trigger="hover" [align]="['top-right']">
  <button supre-dropdown-menu-button class="-dialog">Click</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>
<supre-dropdown-menu trigger="hover" [align]="['top-right']">
  <button supre-dropdown-menu-button class="-dialog">Change</button>
  <div style="padding:5px" supre-dropdown-menu-close="change"><select><option>One</option><option>Two</option><option>Three</option></select></div>
</supre-dropdown-menu>
<supre-dropdown-menu trigger="hover" [align]="['top-right']">
  <button supre-dropdown-menu-button class="-dialog">None</button>
  <div style="padding:5px" supre-dropdown-menu-close="none"><select><option>One</option><option>Two</option><option>Three</option></select></div>
</supre-dropdown-menu>
<supre-dropdown-menu trigger="hover" [align]="['top-right']">
  <button supre-dropdown-menu-button class="-dialog">Click or Change</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Click</div>
  <div style="padding:5px" supre-dropdown-menu-close="change"><select><option>Change</option><option>Two</option><option>Three</option></select></div>
</supre-dropdown-menu>
<hr>
<h4>Pointer Arrow</h4>
<p>The menu by default has a pointer arrow.  This arrow can be removed by setting [pointed]="false".</p>

<supre-dropdown-menu trigger="hover" [align]="['bottom-right','top-right']">
  <button supre-dropdown-menu-button class="-dialog">pointed=true</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>
<supre-dropdown-menu trigger="hover" [pointed]="false"  [align]="['bottom-right','top-right']">
  <button supre-dropdown-menu-button class="-dialog">pointed=false</button>
  <div class="item"><span class="u-supre-icon u-supre-icon--snapshot"></span>Option One</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--edit"></span>Option Two</div>
  <div class="item"><span class="u-supre-icon u-supre-icon--export"></span>Option Three</div>
</supre-dropdown-menu>
